body {
    
}

.remote-display .row {
    
    &.remote-header {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    &.remote-footer {
        margin-top: 1em;
    }
}
.xbmc-nav-button {
    line-height: 5em;
    /* border: 1px solid rgba(100,100,100,0.1); */
    background-color: rgba(100,100,100,0.1);
    border-radius: 4px;

    span {
        display: inline-block;
        vertical-align: middle; 

        i.fa {
            vertical-align: middle; 
        }
    }
}

.searchbox {
    margin-top: 5px;

    input.form-control {
        display: inline;
        width: 90%
    }
}


.display-list {
    .display-list-header {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    .display-list-item {
        
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 4px;
        margin: 2px;
        margin-bottom: 4px;

        small {
            float: right;
        }
    }

}
// injector
// endinjector
