<div class="discovery searchbox panel">
  
    <input class="form-control" type="text" id="search" placeholder="Search ..." ng-model="Discovery.searchText">
    <label for="search" ng-click="Discovery.search()"><i class="fa fa-search"></i></label>

</div>

<div class="discovery matches display-list">

  <div ng-repeat="series in Discovery.matches" class="series display-list-item" ng-click="Discovery.view( series.id )">
    <h3 class="text-center">{{series.name}}</h3>
    <p class="image" ng-if="series.banner"><img ng-src="{{series.banner}}" /></p>
    <p ng-bind="series.description"></p>

</div>

</div>
