<div ng-if="Favourites.favourites.length==0">
    <p>No favourites defined</p>
</div>

<div ng-repeat="series in Favourites.favourites" class="display-list">
    <div class="series" xstyle="border: 3px solid grey; padding: 0.5em">
        <div class="display-list-header text-center" >
            <img ng-src="{{series.banner}}">
            <h1>{{series.name}}</h1>
        </div>

        <div class="display-list-item episode" ng-repeat="episode in series.lastEpisodes">
            <h2>{{ episode.name }} <small class="text-right">Aired: {{ episode.aired }}</small></h2>
            <p>{{ episode.description }}</p>
            
            <div class="btn-group justified nav-pills">
                <a class="btn" ui-sref="home.easynews( { episode: episode.number, season: episode.season, name: series.name } )">Easynews</a>
            </div>

        </div>


    </div>
</div>

